[Unit]
Description=Hubble port-forward service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
ExecStart=cilium hubble port-forward

[Install]
WantedBy=multi-user.target
